<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
		<property name="connection.username">andrew</property>
		<property name="connection.password">passw0rd</property>
		<property name="javax.persistence.validation.mode">none</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>

		<property name="current_session_context_class">thread</property>

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<property name="hbm2ddl.auto">update</property>
		<mapping class="com.webcomm.oa.domain.CaseReq" />
		<mapping class="com.webcomm.oa.domain.Employee" />
		<mapping class="com.webcomm.oa.domain.Unit" />
	</session-factory>
</hibernate-configuration>