<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/base/base.js}"></script>
    
  </head>
  <body>
    <div th:include="fragments/header"></div>
    <div layout:fragment="content">replace content here!</div>
    <div th:include="fragments/footer"></div>
  </body>
</html>